:root {
    --Everglade: #254336;
    --ViridianGreen: #6b8a7a;
    --HeatheredGrey: #b7b597;
    --DustStorm: #dad3be;
}


@font-face {
    font-family: "Nunito";
    src: url(../public/fonts/Nunito-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--Everglade);
    color: var(--DustStorm);
    font-family: "Nunito";
	width: 100%;
}

.headingDiv {
    text-align: center;
    background-color: var(--HeatheredGrey);
    color: black;
    margin-bottom: 10px;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headingDiv h1 {
    position: relative;
    display: flex;
}

.btn {
    background-color: var(--HeatheredGrey);
    border: var(--Everglade) 2px solid;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: var(--ViridianGreen);
}


.section{
	margin: 0% 3% 15px 3%;
	width: max-content;
	
}

.sectionHeading {
    padding-bottom: 5px;
}

.sectionedDiv{
	border-radius: 10px;
	padding: 5px;
	background-color: #6b8a7a;
	width: max-content;
}

.counter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#githubusers{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
	width: 100%;
}

#githubusers #eachUser {
  
}