:root {
    /* CSS HEX */
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
}

@font-face {
    font-family: "InterVariable";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/Fonts/InterVariable.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--outer-space);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--eerie-black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--outer-space);
}

::-webkit-scrollbar-corner {
    background-color: black;
}

body {
    font-family: "InterVariable";
    color: var(--french-gray);
    background-color: black;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 450px;
}

.title-and-image-carousel {
    position: relative;
    height: 80vh;
}

.carousel-section-title {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 900;
}

.carousel-section {
    background-color: black;
    width: 100%;
    height: 60vh;
    position: relative;
}

.prev-image {
    background-color: inherit;
    width: 10vw;
    height: 70vh;
    top: 0%;
    left: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.next-image {
    width: 10vw;
    position: absolute;
    height: 70vh;
    top: 0%;
    left: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.prev-image:hover,
.next-image:hover {
    background-color: rgb(25, 25, 25);
    transition: all 0.2s ease-in-out;
}

.image-section {
    width: 100vw;
    position: absolute;
}

.image-inlet {
    position: absolute;
    width: 80vw;
    height: 70vh;
    top: 0%;
    left: 10%;
}

.image {
    height: 95%;
    width: 95%;
    position: absolute;
    object-fit: cover;
    top: 2.5%;
    left: 2.5%;
    border: 1px solid var(--french-gray-2);
    border-radius: 8px;
    /* * disable select to avoid blue selection thingy */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.chevron {
    height: 60px;
    width: 60px;
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.nav-item {
    font-family: "InterVariable";
    font-weight: 900;
    display: block;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 20px;
}

.nav-item:hover {
    background-color: var(--eerie-black);
    transition: all 0.2s ease-in-out;
}

.brand {
    font-size: 1.5em;
    font-family: "InterVariable";
    position: absolute;
    left: 20px;
    font-weight: 900;
    cursor: pointer;
}

.btn {
    height: max-content;
    width: max-content;
    border-radius: 8px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--onyx);
    transition: all 0.2s ease-in-out;
}

.icon {
    width: 20px;
    height: 20px;
}

.btn-div {
    height: 40px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.play-pause {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-and-video h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    width: 80%;
    height: 100%;
}

.video:active,
.video:focus {
    outline: 0;
    border: 0;
}

.videodetails-and-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-section p {
    font-size: 16px;
    font-weight: 200;
}
