:root {
    --red-pantone: #e63946ff;
    --honeydew: #f1faeeff;
    --non-photo-blue: #a8dadcff;
    --cerulean: #457b9dff;
    --berkeley-blue: #1d3557ff;
}

@font-face {
    font-family: "Heydena";
    src: url(../fonts/Haydena-6Yz7Y.otf);
}
@font-face {
    font-family: "Bungee Inline";
    src: url(../fonts/BungeeInline-Regular.ttf);
}
@font-face {
    font-family: "Bungee Shade";
    src: url(../fonts/BungeeShade-Regular.ttf);
}
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;
}

body {
    color: var(--cerulean);
    background-color: honeydew;
}

h1 {
    text-align: center;
    font-family: "Heydena";
    font-size: 48px;
    font-weight: bold;

    margin: 40px 0px 5px 0px;
}

.underline {
    background-color: var(--cerulean);
    height: 3px;
    margin: 0% 43% 0% 43%;
}

.content {
    display: flex;
    height: max-content;
}

.left-section {
    flex: 30%;
    height: max-content;

    margin-top: 50px;
}

.name {
    border-left: 15px solid var(--berkeley-blue);
    margin: 10px 0px 10px 25%;
    width: 275px;
    padding: 25px 50px 25px 50px;
    transition: 0.1s ease-in;
    background-color: honeydew;
    font-size: 20px;
	cursor: pointer;
}

.name:hover {
    border-left: 30px solid var(--berkeley-blue);
    background-color: var(--berkeley-blue);
    color: var(--cerulean);
    font-weight: bold;
	
}

.name.active{
    border-left: 30px solid var(--berkeley-blue);
    color: var(--cerulean);
    font-weight: bold;
	background-color: var(--non-photo-blue);
}

.right-section {
	flex: 70%;
    background-color: honeydew;
    height: max-content;
    margin-top: 60px;
}

.job-title {
	font-size: 28px;
	font-family: "Montserrat";
	margin-bottom: 20px;
	font-weight: bold;
}

.employee-name {
	width: max-content;
	font-size: 29px;
	color: var(--berkeley-blue);
	text-transform: capitalize;
	font-family: "Heydena";
	font-weight: 700;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: var(--non-photo-blue);
}

.duration {
	font-family: "Montserrat";
	font-weight: 800;
	margin-bottom: 30px;
	color: var(--berkeley-blue);
}

.info{
	display: flex;
	flex-direction: column;
}

.info-element{
	width: 70%;
	display: flex;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

.icon{
	display: flex;
	flex: 5%;
}

.element{
	display: flex;
	flex: 95%;
	font-size: 16px;
	color: var(--berkeley-blue);
}

.footer{
	margin: 25px;
	display: flex;
	flex-direction: column-reverse;
	text-align: right;
}

.github-icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--cerulean);
}

.footer button{
	cursor: pointer;
	background-color: honeydew;
}