:root {
    /* CSS HEX */
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../assets/fonts/InterVariable.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--eerie-black);
    font-family: "InterVariable";
    margin: 40px;
}

.page-title {
    color: var(--slate-gray);
    font-size: 64px;
    font-weight: 900;
    text-decoration: underline var(--onyx);
    margin-bottom: 20px;
}

.page-info {
    color: var(--slate-gray);
    font-size: 32px;
    justify-content: center;
}

.markdown {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input {
    float: left;
    width: 47%;
    height: 60vh;
    margin-right: 2.5%;
    background-color: var(--eerie-black);
    color: var(--french-gray-2);
    padding: 20px;
    border-radius: 8px;
    border: 2px var(--outer-space) solid;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

.input:hover {
    background-color: var(--onyx);
}

.input:focus,
.input:active {
    background-color: var(--onyx);
    border: 2px solid var(--outer-space);
}

.result {
    float: right;
    width: 47%;
    height: 60vh;
    margin-left: 2.5%;
    background-color: var(--eerie-black);
    color: var(--french-gray-2);
    padding: 20px;
    border-radius: 8px;
    border: 2px var(--outer-space) solid;
    outline: none;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

blockquote {
    font-size: 1.5rem;
    font-style: italic;
    border-left: 5px solid var(--slate-gray);
    color: var(--clr-grey-5);
    padding-left: 10px;
    line-height: 2;
    margin-bottom: 1.5rem;
}

blockquote ::first-letter {
    text-transform: uppercase;
}

pre {
    background-color: var(--outer-space);
    display: inline-block;
    border-radius: var(--radius);
    padding: 1rem 2rem;
    color: yellow;
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: disc;
}

ol ol {
    margin-left: 1rem;
}
li {
    margin-left: 1rem;
}

a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-3);
}

pre,
code {
    background-color: var(--onyx);
    padding: 3px;
    border-radius: 8px;
}

a,
a:visited {
    text-decoration: underline;
    color: var(--slate-gray);
}

a[href]:after {
    content: " (" attr(href) ")";
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
}

.btn-div {
    position: fixed;
    bottom: 50px;
    left: 35%;
    right: 35%;
    text-align: center;
}

.btn {
    cursor: pointer;
    background-color: var(--outer-space);
    font-size: 20px;
    color: var(--french-gray);
    padding: 10px 10px 10px 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    width: 200px;
}

.btn:hover{
    background-color: var(--onyx);
    transition: all 0.2s ease-in-out;
}

.first-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.github-icon{
    height: 50px;
    width: 50px;
    color: var(--slate-gray);
    cursor: pointer;
}

.credits span {
    color: var(--slate-gray);
}